<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="commandType" xsi:type="object">Magenest\Injection\Command\Testbed</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="modifyForClass" type="Magenest\Injection\Model\Spark">
        <arguments>
            <argument name="the_argument" xsi:type="object">Magenest\Injection\Model\Tinder2</argument>
            <argument name="target" xsi:type="string">modified</argument>
        </arguments>
    </virtualType>

    <type name="Magenest\Injection\Model\Flame">
        <arguments>
            <argument name="the_object" xsi:type="object">modifyForClass</argument>
        </arguments>
    </type>

    </config>